html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.answer {
  display: none;
}
ul {
  display: flex;
}
span {
  width: 90%;
}
input {
  padding: 8rem;
}
label {
  margin-left: 1rem;
}
.answer+label:before {
  content: "";
  display: flex;
  width: 35px;
  height: 35px;
  border: 2px solid #1877F2;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.answer:checked+label:before {
  background-color: #1877F2;
  border-color: #1877F2;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}
.form-group {
  align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

@media (max-width: 780px) {

}

@media screen  and (min-width:0px) and (max-width: 500px) {

}
@media screen  and (min-width:500px) and (max-width: 1000px) {

}