html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width:1000px) {
  .container-fluid {
    width: 80%;
    margin: 2rem 10% 2rem 10%;
  }
}
@media screen and (min-width:1400px) {
  .container-fluid {
    width: 60%;
    margin: 2rem 20% 2rem 20%;
  }
}
.answer {
  display: none;
}
.question {
  font-weight: 700;
  color: #1877F2;
}
.quizAnswers {
  color: green;
}
.ul {
  display: flex;
  margin: 0;
  padding: 0rem 0rem 2rem 0rem;
}
.output {
  width: 60%;
  margin: 0 20% 0 20%;
}
span { 
  width: 90%;
}
input {
  padding: 8rem;
}
.submitter {
  text-align: center;
  margin: 1.5rem;
}

h2,h1 {
  text-align: center;
  color: #1877F2;
}
label {
  margin-left: 1rem;
}
.answer+label:before {
  content: "";
  display: flex;
  width: 35px;
  height: 35px;
  border: 2px solid #A1A4B9;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.answer:checked+label:before {
  background-color: #1877F2;
  border-color: #1877F2;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}
.danger {
  background-color: red;
  padding: 0.2rem;
  border-color: #1877F2;
  color: black;
  border-radius: 6px;

}
.success {
  background-color: green;
  padding: 0.2rem;
  color: black;
  border-radius: 6px;
}
.primary{
  background-color: #1877F2;
  padding: 0.2rem;
  color: black;
  border-radius: 6px;
}
.form-group {
  align-items: center;
  border-bottom: 0.5rem solid white;
  background-color: #EBEBEB;
  margin: 0;
  padding: 2rem ;

}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

@media screen  and (min-width:0px) and (max-width: 500px) {
  .output {
    width: 100%;
    margin: 0;
  }
}
@media screen  and (min-width:500px) and (max-width: 1000px) {
  .output {
    width: 80%;
    margin: 0 10% 0 10%;
  }
}